@import "../../breakpoints.scss";

.drawer {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;

    @media (max-width: $breakpoint-m) {
        display: none;
    }
    @media (min-width: $breakpoint-m) {
        display: block;
    }
}

.dynamicDrawer {
    padding-top: 60px;
}

.version {
    font-size: 10pt;
    font-style: italic;
    margin-left: 15px;
    color: rgb(180, 180, 180);
}
