.outer {
    margin-bottom: 20px;
    position: sticky;
    top: 64px;
    z-index: 80;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .users {
        font-size: 12pt;
    }
    > * {
        margin-right: 15px;
    }
}

.users {
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    > div {
        margin-left: 10px;
    }
}

.filterUser:not(:last-child)::after {
    content: ", ";
}

.filterUser {
    margin-left: 10px;
    .removeButton {
        cursor: pointer;
        margin-right: 5px;
        vertical-align: text-top;
        color: grey;
    }
}

.dropDown {
    font-size: 12pt;
}

.query {
    z-index: 85;

    input {
        z-index: 90;
    }
}

.matching {
    font-size: 12pt;
    min-width: 100px;
    text-align: center;
    color: grey;
    font-style: italic;
}
