@import "./breakpoints.scss";

body {
    margin: 0;
    padding: 0;
    font-size: 32pt;
    font-family: roboto;
    font-size: 12pt;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 32pt;
    font-weight: normal;
    margin-bottom: 10pt;
}

h2 {
    font-size: 20pt;
    font-weight: normal;
    margin-bottom: 10pt;
}

h3 {
    font-size: 16pt;
    font-weight: normal;
    margin-bottom: 10pt;
}

b {
    color: rgb(0, 0, 0);
}
