@import "../../colors.scss";

$outerPadding: 20px;
$innerPadding: 10px;

.card {
    height: 150px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: $outerPadding $outerPadding $innerPadding $outerPadding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        .text {
            .quote {
                margin-bottom: 5px;
            }

            .meta {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                color: grey;
                font-style: italic;

                div {
                    padding: 0 5px;
                    margin: 5px 0;
                }

                :not(:last-child) {
                    border-right: 1px solid $lightGrey;
                }

                :first-child {
                    padding-left: 0;
                }

                :last-child {
                    padding-right: 0;
                }
            }
        }

        .visualization {
            background-image: url("http://www.visualcomplexity.com/vc/blog/uploads/2010/07/01_the_shape_of_song.jpg");
            width: 100%;
            height: 50px;
        }
        margin: 0 10px 0 0;
    }

    .rightContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.bar {
    padding: $innerPadding $outerPadding $outerPadding $outerPadding;
    border-top: 1px solid $lightGrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .users {
        flex: 1 0 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .reporter {

        }

        .user {
            
        }
    }


    .labels {
        flex: 1 0 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
}

