@import "../../breakpoints.scss";

.widgets {
    height: 100%;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 70px;

    @media (max-width: $breakpoint-l) {
        display: none;
    }
    @media (min-width: $breakpoint-l) {
        display: block;
    }
}

.queueItem {
    width: 250px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
