@import "../breakpoints.scss";
$containerMargin: 10px;

.container {
    margin: $containerMargin;
}

.content {
    @media (max-width: $breakpoint-m) {
        margin: 100px 0 0 0;
    }
    @media (min-width: $breakpoint-m) {
        margin: 100px 0 0 260px;
    }
}

.appBar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

.hamburgerMenu {
    @media (min-width: $breakpoint-m) {
        display: none;
    }
}
